.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #0a192f;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;

}

.list {
    width: 22%;
}


.list ul li {
    margin-bottom: 8px;
    font-size: 1.1em;
}

.list ul li span {
    font-weight: 500;
    font-size: 1.3em;
}

.list ul li:hover {
    color: #C97C2F;
    cursor: pointer;
}


/* Responsive Design */
@media (max-width: 1024px) {
    .footer1 {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .list {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .footer1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .list {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .list {
        width: 100%;
    }
}