.Card-container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;

    flex-direction: column;
    width: 100%;



}

.icon img {
    width: 110px;
    padding-top: 10px;
}

.description h2 {
    font-size: 27px;
    font-weight: 700;
    padding-top: 30px;
    color: white;


}

.description p {
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding-top: 15px;
}


@media (min-width: 768px) {
    .Card-container {
        flex-direction: row;
        text-align: left;
        max-width: 600px;
    }

    .icon img {
        width: 100px;
    }

    .description {
        margin-left: 20px;
    }
}