.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #051C38;
    width: 100%;
    max-height: 90vh;
    padding: 50px;
    color: #ffffff;
    text-align: start;
}

.left {

    h1 {
        font-size: 35px;
        line-height: 42px;
        font-weight: 700;
        padding-left: 110px;
        text-align: start;
    }

    p {

        font-size: 16px;
        padding-left: 110px;
        padding-top: 30px;
        font-weight: lighter;


    }

    button {
        display: flex;
        border: 2px solid white;
        margin-left: 110px;
        padding: 12px 45px;
        margin-top: 40px;
        font-size: 16px;
        font-weight: 700;




    }
}

button:hover {
    background-color: white;
    color: #051C38;
}




.right {
    width: 70%;
    padding-right: 130px;
}